<p>Посилання на активацію електронної пошти:</p>
<p>{{ url }}</p>
<p>Для активації електронної пошти перейдіть за цим посиланням.</p>
<p>Термін дії посилання - 24 години. Після генерації нового посилання попереднє стає недійсним.</p>
<p>Якщо ви не робили запит на активацію електронної пошти, просто проігноруйте це повідомлення.</p>
